html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body, header, main, footer {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
}

main {
    min-height: 600px;
}

footer {
    min-height: 100px;
}
